@model CaloriesProject.Models.Dish

@{
    ViewBag.Title = "Удалить блюдо";
}

<h2>Удалить блюдо</h2>

<h3>Вы уверены, что хотите удалить это блюдо?</h3>
<div>
    <h4>Удалить блюдо</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DishDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proteins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад к таблице", "Index")
        </div>
    }
</div>
